{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Character Overview: {{ character.name }}</h1>
    
    <h2>Basic Info</h2>
    <p><strong>Name:</strong> {{ character.name }}</p>
    <p><strong>Origin:</strong> {{ character.origin.name }}</p>
    <p><strong>Current XP:</strong> {{ character.current_xp }}</p>
    
    <h2>S.P.E.C.I.A.L Stats</h2>
    <table>
        <thead>
            <tr>
                <th>Stat</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in character_stats %}
            <tr>
                <td>{{ stat.stat.name }}</td>
                <td>{{ stat.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Skills</h2>
    <table>
        <thead>
            <tr>
                <th>Skill</th>
                <th>Tagged</th>
                <th>Sum</th>
            </tr>
        </thead>
        <tbody>
            {% for skill in character_skill_attributes %}
            <tr>
                <td>{{ skill.skill.name }}</td>
                <td>{{ '✓' if skill.is_tagged else '' }}</td>
                <td>{{ skill.value + 2 if skill.is_tagged else skill.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <h2>Traits</h2>
    <ul>
        {% for trait in character_traits %}
        <li><strong>{{ trait.name }}:</strong> {{ trait.description }}</li>
        {% endfor %}
    </ul>

    <h2>Perks</h2>
    <ul>
        {% for perk in character_perks %}
        <li><strong>{{ perk.perk.name }}:</strong> {{ perk.perk.description }}</li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('dashboard') }}" class="btn btn-primary">Back to Dashboard</a>
</div>
{% endblock %}
