{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Choose Your Skills</h1>
    <form method="POST" action="{{ url_for('choose_skills') }}">
        {{ form.hidden_tag() }}
            {% for skill in skills %}
                {% set field_name = 'skill_' + skill.id|string %}
                <label for="{{ field_name }}">{{ skill.name }}</label>
                {{ form[field_name](class="form-control", value=0) }}
            {% endfor %}




        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}
