{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Create Character</h1>
    <form id="create-character-form" method="POST" action="{{ url_for('choose_origin') }}">
        {{ form.hidden_tag() }}

        <!-- Name section -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ form.name.label.text }}</label>
            <div class="col-sm-3">
                {{ form.name(class="form-control") }}
                {% for error in form.name.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        <!-- Origin section -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ form.origin_id.label.text }}</label>
            <div class="col-sm-3">
                {{ form.origin_id(class="form-control", id="origin_id") }}
                {% for error in form.origin_id.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        <!-- Stat section -->
        <div class="form-group row" id="special_stats_section" style="display: none;">
            <label class="col-sm-4 col-form-label font-weight-bold">S.P.E.C.I.A.L Stats</label>
            <div class="col-sm-9">
                <div id="special_stats" class="row">
                    <!-- Stats will be dynamically inserted here -->
                </div>
            </div>
        </div>

        <!-- Background description section -->
        <div class="form-group row" id="background_description_section" style="display: none;">
            <label for="origin_description" class="col-sm-3 col-form-label font-weight-bold">Background</label>
            <div class="col-sm-9">
                <p id="origin_description" class="form-control-static">{{ origin_description|safe }}</p>
            </div>
        </div>

        <!-- Non-Selectable Trait section -->
        <div class="form-group row" id="non_selectable_traits_section" style="display: none;">
            <label class="col-sm-3 col-form-label font-weight-bold">Traits</label>
            <div class="col-sm-9">
                <ul id="non_selectable_traits">
                    <!-- Non-selectable traits will be dynamically inserted here -->
                </ul>
            </div>
        </div>

        <!-- Selectable Trait section -->
        <div class="form-group row" id="selectable_traits_section" style="display: none;">
            <label class="col-sm-3 col-form-label font-weight-bold">{{ form.selectable_traits.label.text }}</label>

            <!-- Counter for selectable traits -->
            <div class="form-group mt-2">
                <label class="ml-3">Total Tags Selected: <span id="tags_selected">0</span> / <span id="tags_limit">{{ max_tags }}</span></label>
            </div>

            <div class="col-sm-9">
                <div id="selectable_traits">
                    {% for subfield in form.selectable_traits %}
                        <div class="form-check">
                            {{ subfield(class="form-check-input") }}
                            {{ subfield.label(class="form-check-label") }}
                        </div>
                    {% endfor %}
                </div>



            </div>
        </div>

        <!-- Descriptions for selected traits -->
        <div class="form-group row mt-3" id="selected_traits_descriptions_section" style="display: none;">
            {# <label class="col-sm-3 col-form-label">Selected Traits Descriptions</label> #}
            <div class="col-sm-9">
                <div id="selected_traits_descriptions" class="mt-2">
                    <!-- Descriptions will be dynamically inserted here -->
                </div>
            </div>
        </div>

        <!-- Next button -->
        <div class="form-group row">
            <div class="col-sm-9">
                {{ form.submit(class="btn btn-primary", id="submit-button", disabled=True) }}
            </div>
        </div>
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('origin_id').addEventListener('change', function() {
        var originId = this.value;

        var specialStatsSection = document.getElementById('special_stats_section');
        var backgroundDescriptionSection = document.getElementById('background_description_section');
        var selectableTraitsSection = document.getElementById('selectable_traits_section');
        var nonSelectableTraitsSection = document.getElementById('non_selectable_traits_section');
        var selectedTraitsDescriptionsSection = document.getElementById('selected_traits_descriptions_section');
        var form = document.getElementById('create-character-form');
        var submitButton = document.getElementById('submit-button');

        if (originId == -1) {
            document.getElementById('origin_description').innerText = '';
            document.getElementById('selectable_traits').innerHTML = '';
            document.getElementById('special_stats').innerHTML = '';
            document.getElementById('non_selectable_traits').innerHTML = '';
            document.getElementById('selected_traits_descriptions').innerHTML = '';

            specialStatsSection.style.display = 'none';
            backgroundDescriptionSection.style.display = 'none';
            selectableTraitsSection.style.display = 'none';
            nonSelectableTraitsSection.style.display = 'none';
            selectedTraitsDescriptionsSection.style.display = 'none';
            submitButton.disabled = true;

            return;
        }

        this.options[0].disabled = true;

        fetch('{{ url_for("get_origin_description") }}?origin_id=' + originId)
            .then(response => response.json())
            .then(data => {

                specialStatsSection.style.display = 'block';
                backgroundDescriptionSection.style.display = 'block';
                selectableTraitsSection.style.display = data.selectable_traits.length > 0 ? 'block' : 'none';
                nonSelectableTraitsSection.style.display = data.non_selectable_traits.length > 0 ? 'block' : 'none';
                selectedTraitsDescriptionsSection.style.display = 'block';
                submitButton.disabled = data.selectable_traits.length > 0;

                document.getElementById('origin_description').innerHTML = data.description;

                var traitsDiv = document.getElementById('selectable_traits');
                traitsDiv.innerHTML = '';

                data.selectable_traits.forEach(function(trait) {
                    var div = document.createElement('div');
                    div.className = 'form-check';

                    var checkbox = document.createElement('input');
                    checkbox.type = 'checkbox';
                    checkbox.className = 'form-check-input';
                    checkbox.name = 'selectable_traits';
                    checkbox.value = trait.id;
                    checkbox.id = 'selectable_trait_' + trait.id;
                    checkbox.setAttribute('data-description', trait.description);
                    checkbox.setAttribute('data-name', trait.name); // Add name attribute

                    var label = document.createElement('label');
                    label.className = 'form-check-label';
                    label.htmlFor = 'selectable_trait_' + trait.id;
                    label.innerText = trait.name;

                    div.appendChild(checkbox);
                    div.appendChild(label);

                    traitsDiv.appendChild(div);

                    checkbox.addEventListener('change', updateTagsCounter);
                    checkbox.addEventListener('change', updateTraitsDescriptions);
                });

                var nonSelectableTraitsDiv = document.getElementById('non_selectable_traits');
                nonSelectableTraitsDiv.innerHTML = '';

                data.non_selectable_traits.forEach(function(trait) {
                    var li = document.createElement('li');
                    li.innerHTML = '<strong>' + trait.name + ':</strong> ' + trait.description;
                    nonSelectableTraitsDiv.appendChild(li);
                });

                var statsDiv = document.getElementById('special_stats');
                statsDiv.innerHTML = '';

                data.special_stats.forEach(function(stat) {
                    var div = document.createElement('div');
                    div.className = 'col-sm-12 d-flex align-items-center';

                    var label = document.createElement('label');
                    label.className = 'col-sm-2 mb-0';
                    label.style.padding = '0';
                    label.innerText = stat.name + ': ';

                    var span = document.createElement('span');
                    span.className = 'col-sm-2 form-control-static';
                    span.innerText = ' ' + stat.min + ' - ' + stat.max;

                    div.appendChild(label);
                    div.appendChild(span);

                    statsDiv.appendChild(div);
                });

                form.setAttribute('data-trait-limit', data.selectable_traits_limit);
                document.getElementById('tags_limit').innerText = data.selectable_traits_limit; // Corrected
                updateTagsCounter();
                updateTraitsDescriptions();
            });
    });

    function updateTagsCounter() {  // Updated function name
        var form = document.getElementById('create-character-form');
        var tagLimit = parseInt(form.getAttribute('data-trait-limit'), 10);  // Updated
        var selectedTags = document.querySelectorAll('input[name="selectable_traits"]:checked').length;  // Updated
        var counter = document.getElementById('tags_selected');  // Updated
        var submitButton = document.getElementById('submit-button');

        counter.innerHTML = selectedTags;  // Corrected

        var checkboxes = document.querySelectorAll('input[name="selectable_traits"]');
        checkboxes.forEach(function(checkbox) {
            if (selectedTags >= tagLimit) {  // Updated
                if (!checkbox.checked) {
                    checkbox.disabled = true;
                }
            } else {
                checkbox.disabled = false;
            }
        });

        submitButton.disabled = selectedTags !== tagLimit;  // Simplified logic
    }

    function updateTraitsDescriptions() {
        var selectedTraitsDescriptionsDiv = document.getElementById('selected_traits_descriptions');
        selectedTraitsDescriptionsDiv.innerHTML = ''; // Clear previous descriptions

        var selectedTraits = document.querySelectorAll('input[name="selectable_traits"]:checked');
        selectedTraits.forEach(function(trait) {
            var name = trait.getAttribute('data-name');
            var description = trait.getAttribute('data-description');
            if (name && description) {
                var p = document.createElement('p');
                p.innerHTML = '<strong>' + name + '</strong> - ' + description;
                selectedTraitsDescriptionsDiv.appendChild(p);
            }
        });
    }
});

</script>

{% endblock %}
